a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
}

strong {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 22px;
}

h3 {
  margin:0;
  margin-left:16px;
}

ul {
  margin: 0;
}

.papertitle {
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: "TeXGyrePagella", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 32px;
}

.paper-img {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 10%;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}